
.page-home {
  height: 100%;
}

.add-btn {
  position: fixed;
  width: 500px;
  height: 200px;
  cursor: pointer;
  font-size: 24px;
  left: 50%;
  margin-left: -250px;
  top: 50%;
  margin-top: -175px;
  text-align: center;
  border-radius: 20px;
  padding-top: 150px;
  border: dotted 1px #4fc08d;
}

.image-list {
  position: absolute;
  bottom: 100px;
  width: 80%;
  background: #42b983;
  overflow: hidden;
  margin: 0 10%;
  li {
    float: left;
    width: 100px;
    height: 100px;
    line-height: 100px;
    img {
      width: 100%;
    }
  }

}