
.page-home {
  height: 100%;
  background: #161616;
  padding-top: 100px;
  box-sizing: border-box;
  .display {
    width: 80%;
    height: 100%;
    margin: 0 10%;
    text-align: center;
  }
}

.activeAllImg {
  height: 99%;
  width: 100%;
}

.activeWidImg {
  width: 100%;
}

.activeHeiImg {
  height: 99%;
}

.add-btn {
  position: fixed;
  width: 500px;
  height: 200px;
  cursor: pointer;
  font-size: 24px;
  left: 50%;
  margin-left: -250px;
  top: 50%;
  margin-top: -175px;
  text-align: center;
  border-radius: 20px;
  padding-top: 150px;
  border: dotted 1px #4fc08d;
}


.photo-block {
  position: absolute;
  opacity: 0.5;
  bottom: 0;
  width: 80%;
  height: 100px;
  overflow-y: hidden;
  overflow-x: hidden;
  margin: 0 auto;
  .image-list {
    height: 100px;
    li {
      float: left;
      cursor: pointer;
      width: 100px;
      margin-left: 20px;
      height: 100px;
      line-height: 100px;
      img {
        width: 100%;
        vertical-align: middle;
      }
    }

  }
}

.active {
  border: 2px solid dodgerblue;
  box-sizing: border-box;
}

.arrow-left {
  position: absolute;
  top: 50%;
  margin-top: -22px;
  left: 5%;
  opacity: 0.5;
  cursor: pointer;
}

.arrow-right {
  position: absolute;
  top: 50%;
  margin-top: -22px;
  right: 5%;
  opacity: 0.5;
  cursor: pointer;
}